In [2]:
import pandas as pd
import duckdb
import os
import os, json
from uuid import uuid4
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", None)

In [3]:
conn = duckdb.connect('/srv/data/grela_v0-2.duckdb', read_only=True)

In [9]:
query = """
        SELECT w.*
        FROM works w
        """
works_df = conn.execute(query).fetchdf()

In [13]:
works_df.shape

(11117, 20)

In [14]:
works_df.columns

Index(['grela_source', 'grela_id', 'author', 'title', 'not_before',
       'not_after', 'lagt_tlg_epithet', 'lagt_genre', 'lagt_provenience',
       'noscemus_place', 'noscemus_genre', 'noscemus_discipline',
       'title_short', 'emlap_noscemus_id', 'place_publication',
       'place_geonames', 'author_viaf', 'title_viaf', 'date_random',
       'token_count'],
      dtype='object')

In [12]:
works_df.sample(10)

,grela_source,grela_id,author,title,not_before,not_after,lagt_tlg_epithet,lagt_genre,lagt_provenience,noscemus_place,noscemus_genre,noscemus_discipline,title_short,emlap_noscemus_id,place_publication,place_geonames,author_viaf,title_viaf,date_random,token_count
10509,noscemus,noscemus_694618,"Kirchmaier, Georg Kaspar,Leutmann, Martin",Quod Deus bene vertat. Ex physicis disputation...,1659.0,1659.0,None,None,None,Wittenberg,Dissertation,Meteorology/Earth sciences,None,NaN,None,None,NaN,NaN,1659.0,5066
7912,cc,cc_7940,Gregorius Turonensisc.538–594,Historia Francorum,538.0,594.0,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,541.0,155702
7305,cc,cc_7338,Auctor incertus (Augustinus Hipponensis?),Sermones suppositii de Scripturis,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,162873
1721,lagt,lagt_tlg2003.tlg003,Julian the Emperor,"The Heroic Deeds of the Emperor Constantius, o...",331.0,363.0,['Philosophici/-ae'],[],pagan,None,None,None,None,NaN,None,None,NaN,NaN,347.0,16397
8457,cc,cc_8479,Auctor incertus (Beda?),Interpretatio nominum Hebraeorum,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,1320
10694,noscemus,noscemus_657733,"Petrus Peregrinus,Gasser, Achilles Pirmin",Petri Peregrini Maricurtensis de magnete seu r...,1558.0,1558.0,None,None,None,Augsburg,Letter,"Physics, Meteorology/Earth sciences",None,NaN,None,None,NaN,NaN,1558.0,10241
5747,cc,cc_16869,Wipo Presbyter,Opera,1050.0,1050.0,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,1050.0,21647
3864,cc,cc_11671,Reinerus S. Laurentii Leodiensis,De claris scriptoribus monasterii sui,1110.0,1182.0,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,1139.0,11125
4609,cc,cc_13157,"Marulus Spalatensis, Marcus",Ad Georgium Sisgoreum [1477],1450.0,1524.0,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,1505.0,267
558,lagt,lagt_tlg0035.tlg002,Moschus,Εὐρώπη,-149.0,-149.0,['Bucolici'],[],pagan,None,None,None,None,NaN,None,None,NaN,NaN,-149.0,1345

In [15]:
query = """
        SELECT w.*
        FROM works w
        WHERE w.grela_id LIKE 'vulgate_%'
        """
works_vulgate_df = conn.execute(query).fetchdf()

,grela_source,grela_id,author,title,not_before,not_after,lagt_tlg_epithet,lagt_genre,lagt_provenience,noscemus_place,noscemus_genre,noscemus_discipline,title_short,emlap_noscemus_id,place_publication,place_geonames,author_viaf,title_viaf,date_random,token_count
0,vulgate,vulgate_tlg0031.tlg001.obi-lat,None,Vulgate - Matthew,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
1,vulgate,vulgate_tlg0031.tlg002.obi-lat,None,Vulgate - Mark,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
2,vulgate,vulgate_tlg0031.tlg003.obi-lat,None,Vulgate - Luke,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
3,vulgate,vulgate_tlg0031.tlg004.obi-lat,None,Vulgate - John,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
4,vulgate,vulgate_tlg0031.tlg005.obi-lat,None,Vulgate - Acts,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
5,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
6,vulgate,vulgate_tlg0031.tlg007.obi-lat,None,Vulgate - 1 Corinthians,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
7,vulgate,vulgate_tlg0031.tlg008.obi-lat,None,Vulgate - 2 Corinthians,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
8,vulgate,vulgate_tlg0031.tlg009.obi-lat,None,Vulgate - Galatians,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
9,vulgate,vulgate_tlg0031.tlg010.obi-lat,None,Vulgate - Ephesians,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0

In [16]:
works_vulgate_df.sample(10)

,grela_source,grela_id,author,title,not_before,not_after,lagt_tlg_epithet,lagt_genre,lagt_provenience,noscemus_place,noscemus_genre,noscemus_discipline,title_short,emlap_noscemus_id,place_publication,place_geonames,author_viaf,title_viaf,date_random,token_count
42,vulgate,vulgate_tlg0527.tlg018.obi-lat,None,Vulgate - Nehemiah,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
38,vulgate,vulgate_tlg0527.tlg014.obi-lat,None,Vulgate - 2 Kings,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
57,vulgate,vulgate_tlg0527.tlg037.obi-lat,None,Vulgate - Amos,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
72,vulgate,vulgate_tlg0527.tlg056.obi-lat,None,Vulgate - Daniel,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
52,vulgate,vulgate_tlg0527.tlg032.obi-lat,None,Vulgate - Job,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
67,vulgate,vulgate_tlg0527.tlg047.obi-lat,None,Vulgate - Malachi,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
50,vulgate,vulgate_tlg0527.tlg029.obi-lat,None,Vulgate - Proverbs,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
34,vulgate,vulgate_tlg0527.tlg010.obi-lat,None,Vulgate - Ruth,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
70,vulgate,vulgate_tlg0527.tlg051.obi-lat,None,Vulgate - Lamentations,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
17,vulgate,vulgate_tlg0031.tlg018.obi-lat,None,Vulgate - Philemon,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0

In [1]:
query = """
        SELECT s.grela_id,
               s.sentence_id,
               s.text,
               w.*
        FROM sentences s
                 JOIN works w ON s.grela_id = w.grela_id
        WHERE w.grela_id LIKE 'vulgate_%' \
        """

vulgate_sentences = conn.execute(query).fetchdf()

NameError: name 'conn' is not defined

In [20]:
len(vulgate_sentences)

35254

In [29]:
vulgate_sentences[5000:5010]

,grela_id,sentence_id,text,grela_source,grela_id_1,author,title,not_before,not_after,lagt_tlg_epithet,lagt_genre,lagt_provenience,noscemus_place,noscemus_genre,noscemus_discipline,title_short,emlap_noscemus_id,place_publication,place_geonames,author_viaf,title_viaf,date_random,token_count
5000,vulgate_tlg0031.tlg006.obi-lat,vulgate_tlg0031.tlg006.obi-lat:8.33,quis accusabit adversus electos Dei Deus qui i...,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
5001,vulgate_tlg0031.tlg006.obi-lat,vulgate_tlg0031.tlg006.obi-lat:8.34,quis est qui condemnet Christus Iesus qui mort...,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
5002,vulgate_tlg0031.tlg006.obi-lat,vulgate_tlg0031.tlg006.obi-lat:8.35,quis nos separabit a caritate Christi tribulat...,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
5003,vulgate_tlg0031.tlg006.obi-lat,vulgate_tlg0031.tlg006.obi-lat:8.36,sicut scriptum est quia propter te mortificamu...,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
5004,vulgate_tlg0031.tlg006.obi-lat,vulgate_tlg0031.tlg006.obi-lat:8.37,sed in his omnibus superamus propter eum qui d...,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
5005,vulgate_tlg0031.tlg006.obi-lat,vulgate_tlg0031.tlg006.obi-lat:8.38,certus sum enim quia neque mors neque vita neq...,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
5006,vulgate_tlg0031.tlg006.obi-lat,vulgate_tlg0031.tlg006.obi-lat:8.39,neque altitudo neque profundum neque creatura ...,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
5007,vulgate_tlg0031.tlg006.obi-lat,vulgate_tlg0031.tlg006.obi-lat:9.1,veritatem dico in Christo non mentior testimon...,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
5008,vulgate_tlg0031.tlg006.obi-lat,vulgate_tlg0031.tlg006.obi-lat:9.2,quoniam tristitia est mihi magna et continuus ...,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0
5009,vulgate_tlg0031.tlg006.obi-lat,vulgate_tlg0031.tlg006.obi-lat:9.3,optabam enim ipse ego anathema esse a Christo ...,vulgate,vulgate_tlg0031.tlg006.obi-lat,None,Vulgate - Romans,NaN,NaN,None,None,None,None,None,None,None,NaN,None,None,NaN,NaN,NaN,0

In [30]:

query = """
        SELECT
            s.grela_id,
            s.sentence_id,
            s.text,
            w.*
        FROM sentences s
        JOIN works w ON s.grela_id = w.grela_id
        WHERE (w.not_before > 1000 AND w.not_before < 1100)
           OR (w.not_after > 1000 AND w.not_after < 1100);
"""

century11 = conn.execute(query).fetchdf()

In [31]:
len(century11)

1357091

In [33]:
query = """
SELECT *
FROM tokens
WHERE grela_id LIKE 'vulgate_tlg0031%' OR grela_id LIKE 'vulgate_tlg0527%';
"""

vulgate_tokens_df = conn.execute(query).fetchdf()
len(vulgate_tokens_df)

603091

In [36]:
vulgate_tokens_df[1000:1020]

,sentence_id,grela_id,token_text,lemma,pos,char_start,char_end,token_id
1000,vulgate_tlg0031.tlg001.obi-lat:3.12,vulgate_tlg0031.tlg001.obi-lat,autem,autem,CCONJ,103,108,13005
1001,vulgate_tlg0031.tlg001.obi-lat:3.12,vulgate_tlg0031.tlg001.obi-lat,conburet,comburo,VERB,109,117,13006
1002,vulgate_tlg0031.tlg001.obi-lat:3.12,vulgate_tlg0031.tlg001.obi-lat,igni,ignis,NOUN,118,122,13007
1003,vulgate_tlg0031.tlg001.obi-lat:3.12,vulgate_tlg0031.tlg001.obi-lat,inextinguibili,inexstinguibilis,ADJ,123,137,13008
1004,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,tunc,tunc,ADV,0,4,13009
1005,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,venit,uenio,VERB,5,10,13010
1006,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,Iesus,Iesus,PROPN,11,16,13011
1007,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,a,ab,ADP,17,18,13012
1008,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,Galilaea,Galilaea,PROPN,19,27,13013
1009,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,in,in,ADP,28,30,13014
1010,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,Iordanen,Iordanes,PROPN,31,39,13015
1011,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,ad,ad,ADP,40,42,13016
1012,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,Iohannem,Ioannes,PROPN,43,51,13017
1013,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,ut,ut,SCONJ,52,54,13018
1014,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,baptizaretur,baptizo,VERB,55,67,13019
1015,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,ab,ab,ADP,68,70,13020
1016,vulgate_tlg0031.tlg001.obi-lat:3.13,vulgate_tlg0031.tlg001.obi-lat,eo,is,PRON,71,73,13021
1017,vulgate_tlg0031.tlg001.obi-lat:3.14,vulgate_tlg0031.tlg001.obi-lat,Iohannes,Ioannes,PROPN,0,8,13022
1018,vulgate_tlg0031.tlg001.obi-lat:3.14,vulgate_tlg0031.tlg001.obi-lat,autem,autem,CCONJ,9,14,13023
1019,vulgate_tlg0031.tlg001.obi-lat:3.14,vulgate_tlg0031.tlg001.obi-lat,prohibebat,prohibeo,VERB,15,25,13024

In [38]:
def get_grouped_token_data_with_metadata(conn, lemma: str, pos_tags: list):
    """
    Return one row per matching token (lemma + POS filter) with:
      • full sentence token list
      • ±10-token concordance window
      • minimal work-level metadata
    """

    pos_placeholder = ", ".join(f"'{tag}'" for tag in pos_tags)

    query = f"""
    /*──────────────── 1. anchor tokens ────────────────*/
    WITH target_matches AS (
        SELECT
            t.sentence_id,
            t.grela_id,
            s.position                     AS sentence_position,
            t.token_id                     AS target_token_id,
            t.char_start                   AS target_char_start,
            t.char_end                     AS target_char_end
        FROM tokens   AS t
        JOIN sentences AS s USING (sentence_id)
        WHERE  t.lemma = ?
          AND  t.pos   IN ({pos_placeholder})
    ),

    /*──────────────── 2. ±1-sentence context ──────────*/
    context_3sents AS (
        SELECT
            tm.sentence_id,
            STRING_AGG(s.text, ' | ' ORDER BY s.position) AS context_3sents
        FROM target_matches tm
        JOIN sentences s
          ON s.grela_id = tm.grela_id
         AND s.position BETWEEN tm.sentence_position - 1
                            AND tm.sentence_position + 1
        GROUP BY tm.sentence_id
    ),

    /*──────────────── 3. full token list per sentence ─*/
    sentence_tokens AS (
        SELECT
            sentence_id,
            LIST(
              STRUCT_PACK(
                 token_id    := token_id,
                 token_text  := token_text,
                 lemma       := lemma,
                 pos         := pos,
                 char_start  := char_start,
                 char_end    := char_end,
                 sentence_id := sentence_id
              )
              ORDER BY token_id
            ) AS tokens
        FROM tokens
        WHERE sentence_id IN (SELECT DISTINCT sentence_id FROM target_matches)
        GROUP BY sentence_id
    ),

    /*──────────────── 4. ±10-token concordance window ─*/
    concordance_tokens AS (
        SELECT
            tm.sentence_id,
            tm.target_token_id,
            LIST(
              STRUCT_PACK(
                 token_id    := ct.token_id,
                 token_text  := ct.token_text,
                 lemma       := ct.lemma,
                 pos         := ct.pos,
                 char_start  := ct.char_start,
                 char_end    := ct.char_end,
                 sentence_id := ct.sentence_id
              )
              ORDER BY ct.token_id
            ) AS concordance_tokens
        FROM target_matches tm
        JOIN tokens        ct
          ON ct.grela_id = tm.grela_id
         AND ct.token_id BETWEEN tm.target_token_id - 10
                            AND tm.target_token_id + 10
        GROUP BY tm.sentence_id, tm.target_token_id
    )

    /*──────────────── 5. final projection (custom column order) ─────*/
    SELECT
        w.author,
        w.title,
        tm.grela_id AS grela_id,
        tm.sentence_id,
        s.text                    AS sentence_text,
        c3.context_3sents,

        st.tokens                AS tokens,
        ct.concordance_tokens    AS concordance_tokens,

        w.not_before,
        w.not_after,
        w.date_random,
        w.lagt_genre,
        w.lagt_provenience,
        w.noscemus_genre,
        w.noscemus_discipline,

        tm.target_token_id,
        tm.target_char_start,
        tm.target_char_end

    FROM target_matches      tm
    JOIN sentences           s   USING (sentence_id)
    JOIN works               w   ON w.grela_id = tm.grela_id
    LEFT JOIN context_3sents c3  USING (sentence_id)
    LEFT JOIN sentence_tokens st USING (sentence_id)
    LEFT JOIN concordance_tokens ct
           ON  ct.sentence_id    = tm.sentence_id
          AND ct.target_token_id = tm.target_token_id
    ORDER BY tm.sentence_id, tm.target_token_id;
    """

    return conn.execute(query, [lemma]).fetchdf()

In [39]:
result_df = get_grouped_token_data_with_metadata(conn, lemma="deus", pos_tags=["NOUN", "PROPN"])

FloatProgress(value=0.0, layout=Layout(width='auto'), style=ProgressStyle(bar_color='black'))

In [49]:
pd.DataFrame(result_df["concordance_tokens"].iloc[0].tolist())

,token_id,token_text,lemma,pos,char_start,char_end,sentence_id
0,183835477,scholari,scholaris,VERB,25,33,cc_10003_335
1,183835478,ferula,ferula,NOUN,34,40,cc_10003_335
2,183835479,erudiendi,erudio,VERB,41,50,cc_10003_335
3,183835480,essent,sum,AUX,51,57,cc_10003_335
4,183835481,",",",",PUNCT,57,58,cc_10003_335
5,183835482,quia,quia,SCONJ,59,63,cc_10003_335
6,183835483,ignauiae,ignauius,NOUN,64,72,cc_10003_335
7,183835484,",",",",PUNCT,72,73,cc_10003_335
8,183835485,socordiae,socordia,NOUN,74,83,cc_10003_335
9,183835486,et,et,CCONJ,84,86,cc_10003_335
10,183835487,deo,deus,NOUN,87,90,cc_10003_335
11,183835488,suo,suus,DET,91,94,cc_10003_335
12,183835489,uentri,uenter,NOUN,95,101,cc_10003_335
13,183835490,manus,manus,NOUN,102,107,cc_10003_335
14,183835491,dederunt,do,VERB,108,116,cc_10003_335
15,183835492,",",",",PUNCT,116,117,cc_10003_335
16,183835493,dum,dum,SCONJ,118,121,cc_10003_335
17,183835494,instrui,instruo,VERB,122,129,cc_10003_335
18,183835495,refugiunt,refugio,VERB,130,139,cc_10003_335
19,183835496,ad,ad,ADP,140,142,cc_10003_335
20,183835497,grauitatem,grauitas,NOUN,143,153,cc_10003_335

In [40]:
len(result_df)

189155

In [46]:
pd.DataFrame(result_df.iloc[0]["tokens"].tolist())

,token_id,token_text,lemma,pos,char_start,char_end,sentence_id
0,183835471,At,at,CCONJ,0,2,cc_10003_335
1,183835472,uero,uero,ADV,3,7,cc_10003_335
2,183835473,hi,hic,DET,8,10,cc_10003_335
3,183835474,qui,qui,PRON,11,14,cc_10003_335
4,183835475,adhuc,adhuc,ADV,15,20,cc_10003_335
...,...,...,...,...,...,...,...
64,183835535,uocum,uox,NOUN,389,394,cc_10003_335
65,183835536,uel,uel,CCONJ,395,398,cc_10003_335
66,183835537,quaestionum,quaestio,NOUN,399,410,cc_10003_335
67,183835538,nouitatibus,nouitas,NOUN,411,422,cc_10003_335
68,183835539,:,:,PUNCT,422,423,cc_10003_335